src/main/resources/static/sitemap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.sitemaps.org/schemas/sitemap/0.9"
           xmlns:tns="http://www.sitemaps.org/schemas/sitemap/0.9"
           elementFormDefault="qualified">

    <xs:element name="urlset">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="url" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="loc" type="xs:anyURI"/>
                            <xs:element name="lastmod" type="xs:string" minOccurs="0"/>
                            <xs:element name="changefreq" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="always"/>
                                        <xs:enumeration value="hourly"/>
                                        <xs:enumeration value="daily"/>
                                        <xs:enumeration value="weekly"/>
                                        <xs:enumeration value="monthly"/>
                                        <xs:enumeration value="yearly"/>
                                        <xs:enumeration value="never"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="priority" type="xs:decimal" minOccurs="0"/>
                            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

